﻿@model MyWallet.ViewModels.TrasferViewModel

@{
    ViewData["Title"] = "Перевод";
}

@using Microsoft.AspNetCore.Identity
@using MyWallet.Data

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

        <h2>Перевод на другой счет</h2>
        <div class="row">
            <div class="col-md-4">

                @using (Html.BeginForm("SetTransfer", "Transfer", FormMethod.Post, true))
{

                <div class="form-group">
                    <label asp-for="UserTo" class="control-label"></label>
                    <input asp-for="UserTo" class="form-control" />
                    <span asp-validation-for="UserTo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Amount" class="control-label"></label>
                    <input asp-for="Amount" class="form-control" />
                    <span asp-validation-for="Amount" class="text-danger"></span>
                </div>
                <div>
                    <input type="hidden" asp-for="UserFrom" value="@UserManager.GetUserName(User)" />

                </div>
                <div>
                    <input style="margin-top: 10px;" type="submit" class="btn btn-success form-control" />
                </div>
        }

            </div>
        </div>

        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }

